<div class="row">

    <div ng-if="news.length > 0" class="col-md-8 offset-md-2 text-justify mt-5" ng-repeat="new in news track by $index">
        <h2 class="text-center text-uppercase mb-3">{{new.title}}</h2>
        <blockquote class="blockquote">
            <p>{{new.content}}</p>
        </blockquote>

        <p>{{new.description}}</p>

        <div class="row">
            <div class="col-md-6">
                {{new.date | date : format : timezone}}
            </div>
            <div class="col-md-6 text-right">
                Author: <b>{{new.author}}</b>
            </div>
        </div>

        <p ng-if="new.archiveDate">Archived Date: <b>{{new.archiveDate | date : format : timezone}}</b></p>

        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-danger mt-5"
                    ng-if="new.archiveDate"
                    ng-click="deleteNew(new._id, $index)">
                REMOVE
            </button>
            <button type="button" class="btn btn-warning mt-5"
                    ng-if="!new.archiveDate"
                    ng-click="archiveNew(new._id, $index)">
                ARCHIVE
            </button>
        </div>

        <hr>

    </div>

    <div ng-if="news.length == 0" class="col-md-12 text-center mt-5">
        Sorry. Actually there's no news :(
    </div>
</div>
